*{margin: 0px; padding: 0px;}

/* common shared styles */
body {font-family: 'Open Sans', sans-serif;}

.btn{ background-color: #FD6E0A; color: aliceblue; padding: 15px; border-radius: 5px; font-size: 22px; cursor: pointer; border: 0px; margin-right: 30px;}
.btn:hover{ color: rgb(101, 29, 168);}

.about-title{text-align: center;  color: #181818; font-size: 35px; font-weight: 700; }

/* nav related styles */
nav{ display: flex; justify-content: space-around; align-items: center; }

.nav-title{ font-size: 40px; }

.primary-color{ color: #FD6E0A }

nav > ul{ display: flex; align-items: center;}

nav > ul > li{ margin-right: 50px; list-style: none ; }

nav > ul > li > a{ text-decoration: none; color: black;}

nav > ul > li > a:hover{  color: #FD6E0A;}

 /* header section */

 .header{ background-color: #FFF8F3; background-image: url(../images/header_bg.png); background-repeat: no-repeat; background-position: bottom right; height: 100vh;}

 nav{ margin: 0px 100px;}

 /* banner section */

 .banner{ padding:  30px  30px 0px 150px; display: flex; align-items: center; justify-content: space-around;}
.harder{ width: 400px; height: 500px;}

.banner-text{ width: 585px; height: 356px ;}

.banner-greeting{ font-size: 20px; margin-bottom: 0px;}
.banner-title{ font-weight:bolder; margin-top: 6px; bottom:0px;}
.banner-paragraph{ font-weight: 400; margin-top: 4px; margin-bottom: 15px;}

/* main section */

main{width: 1140px; margin: auto; }

/* About section */
.about{ padding: 130px; background-color: #FFF8F3; margin: 120px 0px;}

.about-title{padding: 30px;}
.about-description{ font-size: 18px; font-family:'Open Sans', sans-serif; color: #757575; text-align: center; }
.parent{display: flex; justify-content: space-around;}

.info-title{ margin-top: 10px; text-align: center; color: #757575;}

.info-description{ color:#181818;font-size: 20px; font-family:'Open Sans', sans-serif; }  

/* what i do section */

#id{ padding:30px 150px }

.box{width: 220px; height: 302px; text-align: center; border: 2px solid black; box-shadow: 5px 5px 35px  #da8349 ; }

.what-i-do{ display: flex; justify-content: space-around;}

.description-of-what-i-do{ padding: 10px ; }

.btn-1{background-color: #FD6E0A; color: aliceblue; padding: 5px; border-radius: 5px; font-size: 22px; cursor: pointer; border: 0px; margin-right: 30px; margin: auto;}
.btn-1:hover{ color: rgb(101, 29, 168);}

.title-of-what-i-do{ padding: 10px; /* margin-top: 15px ; */}

.icons{ margin-top: 20px; }

/* REsume section */

.about-title{ padding: 20px; margin-top: 100px; }

.resume-parent{ display: flex; /* gap: 40px */; justify-content: center; justify-content: space-around;}

.first-colum{ width: 500px; height: 175px;}

.resume-head{ margin: 2px  0px 8px 0px; color: #383434;}
.resume-title{color: #352828; font-weight: bold; margin-bottom: 5px; font-family: ; }
.resume-versity{ margin-bottom: 2px; color: rgb(63, 56, 63);}

.resume-description{ font-weight: 500; margin-bottom: 2px; }

.download{ text-align: center;}

/* footer section */


.foot{ display: flex; align-items: center; height: 450px; margin-top: 50px ; border: 2px solid black; background-color: #ecdbcf; padding: 50px;}

#aling{ margin-left: 660px; width: 400px;}



/* .text{ width: 500px; font-size: 20px; } */

.clm{ width: 50%;}

.fhead{ font-weight: bold; font-size: 35px; margin-bottom: 20px; }

.fp{ font-weight: 500; margin-bottom: 20px; }

.frm > input, textarea{ display: block; margin-bottom: 20px; padding: 15px 20px ; border-radius: 5px; border: none; width: 100%; }

.scl{ margin-right: 30px ;}





